name: iOS CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    
    steps:
        - name: check Xcode version
          run: /usr/bin/xcodebuild -version

        - name: checkout repository
          uses: actions/checkout@v3
    
        # - name: Install dependencies
        #   run: |brew install swiftlint 

        -  name: build archive
           run: |
                xcodebuild -scheme "ALM\ APP\ Dem0" \
                -archivePath ALM\ APP\ Dem0.xcarchive \
                -sdk iphoneos \
                -configuration Debug \
                -destination generic/platform=iOS \
                clean archive
