name: iOS CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    
    steps:
        - name: check Xcode version
          run: /usr/bin/xcodebuild -version

        # - name: checkout repository
        #   uses: actions/checkout@v3
    
    

        -  name: build archive
           run: |
                xcodebuild -scheme "ALM APP Dem0" \
                -archivePath ALM\ APP\ Dem0.xcarchive \
                -sdk iphoneos \
                -configuration Debug \
                -destination generic/platform=iOS \
                clean archive

        - name: swiftlint
          run: swiftlint lint 

        - name: Slather
          run: slather coverage --html --scheme ALM\ APP\ Dem0 --workspace ALM\ APP\ Dem0.xcworkspace/ 
          

       
                
